---
layout: page
title : CIS6930 Bioinformatics
header-img: "img/home-bg.jpg"
description: "Final project for bioinformatics."
---

<!-- About Content -->

<section id="about">
	<div class="text-center">
		<h1>Implementation and evaluation of an efﬁcient dynamic data structure for DeBruijn graphs</h1>
		<hr>
		 <div class="div-left">
		    <p>
			Hi! this is the group project website of group 5 for bioinformatics CIS6930 2017 Fall. Our project maily developed fully dynamic De-Bruijh graph, an improved data structure for geonome assembly		
		    </p>
		    <p>
			In this website, we provide a brief introduction and a manual for implementing the project.
		    </p>
			We provide a<a href="http://128.227.162.189:9999/"> <b>demo</b></a> to run the project. 
            </div>
	</div>
		   
	
</section>

<!-- Portfolio Grid Section -->
<section id="inst">
	<div class="row">
		<div class="text-center">
			<h2>Instructor .</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 portfolio-item">
			<a href="https://www.christinaboucher.com" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Dr. Christina Boucher<p></p>
					</div>
				</div>
				<img src="./img/christina_boucher.jpg " class="img-responsive" alt="">
			</a>
		</div>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Group member.</h2>
			<hr>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-4 portfolio-item">
			<a href="http://www.cise.ufl.edu/~kuhnle/" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Alan Kuhnle <p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/alan.jpg" class="img-responsive" alt="" height="400" width="400">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href="#{{  }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Victoria Crawford<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/tori.jpg" class="img-responsive" alt="" height="400" width="400">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href= "https://www.cise.ufl.edu/~zizhao/"  class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Zizhao Zhang<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/zizhao.jpg" class="img-responsive" alt="" height="400" width="400">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href= "https://www.linkedin.com/in/yuanpu-xie-712a6353"  class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Yuanpu Xie<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/xie.jpg" class="img-responsive" alt="" height="400" width="400">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href= "https://www.cise.ufl.edu/~zizhao/"  class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Ke Bo<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/kebo.jpg" class="img-responsive" alt="" height="400" width="400">
			</a>
		
          </object>

        </div>
</div>

<style>
	.divpf{ position:fixed;width:200px; height:200px; right:1%; top:20%;}
	</style>
<div class="divpf">

</div>
	<!--<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</div>-->
<div>
	<h2>Comtact information</h2>
	<p><b>dibanboye@ufl.edu</b></p>
<div>

</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>