---
layout: page
title : CIS6930 Bioinformatics
header-img: "img/home-bg.jpg"
description: "Final project for bioinformatics."
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
			Here is the part where we are supposed to add some pretentious desciption to the course project.
		</p>
		<p>
			Hi, this is the group 3 for bioinformatics CIS6930 2017 Fall.
		</p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="inst">
	<div class="row">
		<div class="text-center">
			<h2>Instructor .</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 portfolio-item">
			<a href="https://www.christinaboucher.com" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Dr. Christina Boucher<p></p>
					</div>
				</div>
				<img src="./img/boucher.jpg" class="img-responsive" alt="">
			</a>
		</div>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Group member.</h2>
			<hr>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-4 portfolio-item">
			<a href="#{{  }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Alan Kuhnle <p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/zizhao.jpg" class="img-responsive" alt="">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href="#{{  }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Victoria Crawford<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/zizhao.jpg" class="img-responsive" alt="">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href= "https://www.cise.ufl.edu/~zizhao/"  class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Zizhao Zhang<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/zizhao.jpg" class="img-responsive" alt="">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href= "https://www.cise.ufl.edu/~zizhao/"  class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Yuanpu Xie<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/zizhao.jpg" class="img-responsive" alt="">
			</a>
		</div>

		<div class="col-sm-4 portfolio-item">
			<a href= "https://www.cise.ufl.edu/~zizhao/"  class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						Ke Bo<p></p>
						<i class="fa fa-search-plus"></i><p></p>
					</div>
				</div>
				<img src="./img/portfolio/zizhao.jpg" class="img-responsive" alt="">
			</a>
		</div>
		
        <div>
		  <p>
			  This is the guideline video
			  </p>
          <video width="320" height="240" controls="controls">
          <source src="video1.rmvb" type="video/mp4" />
          <source src="video1.mp4" type="video/mp4" />
          <source src="video1.ogg" type="video/ogg" />
          <source src="video1.webm" type="video/webm" />
          <object data="video1.rmvb" width="320" height="240">
          <embed src="video1.swf" width="320" height="240" />
          </object>
          </video>
        </div>
</div>

	<!--<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</div>-->


</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>