<!-----
layout: page
title: "Blog"
description: "!!SHOWTAGSINSTEADOFDESCRIPTION!!"
header-img: "img/blog-bg.jpg"
tags: [CodeMonkey, Life] #list of tags that you want to show in description of blog
---

<div class="post-preview">
    <a href="./2017-03-17-init.md">
        <h2 class="post-title">
           hahah
        </h2>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
-->


---
layout: default
---

{% include 2017-03-17-init.md %}